<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandyz.alltimers.schedule">

    <application>
        <activity
            android:name=".view.activity.ActivityScheduleEdit"
            android:launchMode="singleTop"
            android:exported="false" />
    </application>

</manifest>