<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandyz.alltimers.main">

    <application
        android:name="com.sandyz.alltimers.common.BaseApp"
        android:theme="@style/Theme.AllTimers">
        <activity android:name="com.sandyz.alltimers.main.view.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>